#list-main{
    margin-bottom: 30px;
}
#list-main .title-list{
    height: 60px; text-align: center;font-size: 20px; font-weight: 600;
    line-height: 60px; padding-bottom: 20px;
}

#list-main .list-content{
    width: 96%; margin: 0 auto; height: auto;
}


#list-main .list-content .menu-left{
    width: 25%; 
}




/* 商品排序选择 */

#list-main .list-content .product-list .sort{
    height: 40px; line-height: 40px;margin-bottom: 20px;
}

#list-main .list-content .product-list .sort p{
    margin-right: 16px; font-size: 14px; color: #999999;
}

#list-main .list-content .product-list .sort .sort-product{
    height: 100%; 
}


#list-main .list-content .product-list .sort .sort-product a{
   
     padding: 3px 15px; font-size: 12px; border: 1px solid #cccccc;
     
}

#list-main .list-content .product-list .sort .sort-product .xuanzhong{
    background-color: black; color: white;
}

#list-main .list-content .menu-left .menu-js{
    width: 180px;
}

#list-main .list-content .menu-left .menu-js dl{
    width: 100%;  
}

#list-main .list-content .menu-left .menu-js dl dt{
    width: 100%; height: 50px; line-height: 50px; font-size: 18px; font-weight: bold; color: #555555; box-sizing: border-box; border-top: 1px solid #777777; text-indent: 10px;
    background: url(../imgs/plus.png) no-repeat;
    background-position: right; 
    cursor: pointer;
}

#list-main .list-content .menu-left .menu-js .active dt{
    background: url(../imgs/minus.png) no-repeat;
    background-position: right; 
}
#list-main .list-content .menu-left .menu-js .active{
    height: auto;
}
       


#list-main .list-content .menu-left .menu-js dl dd{
    padding: 8px 0; font-size: 12px; text-indent: 26px; font-weight: 500;
    cursor: pointer; font-weight: 600; display: none;
}
#list-main .list-content .menu-left .menu-js dl dd:hover{
    color: #999999; text-decoration: solid; text-decoration: underline;
}

#list-main .list-content .menu-left .shaixuan-top{
    height: 70px; width: 180px; border: 1px solid #666666; margin-bottom: 30px; line-height: 50px; 
}
#list-main .list-content .menu-left .shaixuan-top p{
     border-bottom: solid 1px #666666; width: 80%; margin: 0 auto;
}

/* 列表商品样式 */

#list-main .list-content .product-list{
    width: 75%; text-align: center; 
}

#list-main .list-content .product-list .box-product{
    width: 100%; height: auto;
}

#list-main .list-content .product-list .box-product dl{
    width: 33.33333%; height: 340px; box-sizing: border-box;


}

#list-main .list-content .product-list .box-product dl dt{
    width: 165px; height: 180px; padding-top: 10px; margin: 0 auto;
}

#list-main .list-content .product-list .box-product dl .miaoshu{
    height: 40px; font-size: 14px; line-height: 40px; font-weight: 600;
}

#list-main .list-content .product-list .box-product dl .list-jiage{
    margin-top: 30px; font-size: 14px; font-weight: 600;
}

